<div class="text-center p-2">
    Síguenos en
</div>
<div class="container p-4">
    <a href="http://instagram.com/shopeame" class="btn btn-outline-light m-1">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="http://instagram.com/shopeame" class="btn btn-outline-light m-1">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="http://instagram.com/shopeame" class="btn btn-outline-light m-1">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="http://instagram.com/shopeame" class="btn btn-outline-light m-1">
        <i class="fab fa-tiktok"></i>
    </a>
</div>

<div class="text-center p-4">
    Copyright Shopeame © 2024
</div>